{
    "swagger": "2.0",
    "info": {
        "description": "GS-CLOUD-EASY-REST-API",
        "title": "RRP",
        "termsOfService": "http://www.gs-robot.com/",
        "contact": {
            "name": "zhouyi",
            "url": "http://www.gs-robot.com/",
            "email": "zy@gs-robot.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0"
    },
    "host": "cloud.gs-robot.com:8899",
    "basePath": "/",
    "paths": {
        "/account/add": {
            "post": {
                "security": [
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "AddAccount, Do not Sending CreateTime And UpdateTime !",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "AddAccount",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "create.Account",
                        "name": "AccountCreate",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/create.AccountCreate"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Account"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account/create": {
            "post": {
                "security": [
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "CreateAccount, Do not Sending CreateTime And UpdateTime !",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "CreateAccount",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "model.Account",
                        "name": "Account",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Account"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Account"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account/forget": {
            "post": {
                "security": [
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "ForgetAccount, Do not Sending CreateTime And UpdateTime !",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "ForgetAccount",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "model.Account",
                        "name": "Account",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Account"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Account"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account/get": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "GetAllAccountByConditionsAuth",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "GetAllAccountByConditionsAuth",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 1,
                        "description": "页码",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 3,
                        "description": "分页大小",
                        "name": "pagesize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "2018",
                        "description": "开始时间",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "",
                        "description": "结束时间",
                        "name": "end",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "1",
                        "description": "数据状态1或0",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "description": "对象",
                        "name": "AccountQuery",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/query.AccountQuery"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Account"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account/get/mu": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "GetAllAccountByConditionsAuth",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "GetAllAccountByConditionsAuth",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "false",
                        "description": "增加一个是否精确匹配",
                        "name": "auto_rank",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "default": "false",
                        "description": "增加一个是否精确匹配",
                        "name": "ar",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "default": "false",
                        "description": "是否所有的查询都是精确匹配",
                        "name": "specify",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "default": "false",
                        "description": "是否所有的查询都是精确匹配",
                        "name": "s",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "default": "nil",
                        "description": "查找被软删除的数据",
                        "name": "statusQuery",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 1,
                        "description": "页码",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 3,
                        "description": "分页大小",
                        "name": "pagesize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "2018",
                        "description": "开始时间",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "",
                        "description": "结束时间",
                        "name": "end",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "1",
                        "description": "数据状态1或0",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "description": "对象",
                        "name": "MultiplyAccount",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/query.MultiplyAccount"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Account"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account/get/or": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "GetAllAccountByConditionsAuthOr",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "GetAllAccountByConditionsAuthOr",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 1,
                        "description": "页码",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 3,
                        "description": "分页大小",
                        "name": "pagesize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "2018",
                        "description": "开始时间",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "",
                        "description": "结束时间",
                        "name": "end",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "1",
                        "description": "数据状态1或0",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "description": "对象",
                        "name": "AccountQuery",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/query.AccountQuery"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Account"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account/info": {
            "get": {
                "security": [
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "AccountInfo, Do not Sending CreateTime And UpdateTime !",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "AccountInfo",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "model.Account",
                        "name": "Account",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Account"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Account"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account/login": {
            "post": {
                "security": [
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "LoginAccount, Do not Sending CreateTime And UpdateTime !",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "LoginAccount",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "model.Account",
                        "name": "Account",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Account"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Account"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account/logout": {
            "post": {
                "security": [
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "LogoutAccount, Do not Sending CreateTime And UpdateTime !",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "LogoutAccount",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "model.Account",
                        "name": "Account",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Account"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Account"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account/reset": {
            "post": {
                "security": [
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "ResetAccount, Do not Sending CreateTime And UpdateTime !",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "ResetAccount",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "model.Account",
                        "name": "Account",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Account"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Account"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account/search": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "GetAllAccountNoConditions",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "GetAllAccountNoConditions",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 1,
                        "description": "页码",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 3,
                        "description": "分页大小",
                        "name": "pagesize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "2018",
                        "description": "开始时间",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "",
                        "description": "结束时间",
                        "name": "end",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Account"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "GetAllAccountByConditionsAuthDynamic",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "GetAllAccountByConditionsAuthDynamic",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 1,
                        "description": "页码",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 3,
                        "description": "分页大小",
                        "name": "pagesize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "2018",
                        "description": "开始时间",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "",
                        "description": "结束时间",
                        "name": "end",
                        "in": "query"
                    },
                    {
                        "description": "对象",
                        "name": "AccountQuery",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/query.AccountQuery"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Account"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account/search/{word}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "GetAllAccountByConditionsAuthDynamicOneWord",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "GetAllAccountByConditionsAuthDynamicOneWord",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 1,
                        "description": "页码",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 3,
                        "description": "分页大小",
                        "name": "pagesize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "2018",
                        "description": "开始时间",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "",
                        "description": "结束时间",
                        "name": "end",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Account"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account/update/{id}": {
            "post": {
                "security": [
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "UpdateAccountByIds",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "UpdateAccountByIds",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "model.Account",
                        "name": "Account",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Account"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Account"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account/{id}": {
            "put": {
                "security": [
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "UpdateAccountByIdV2",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "UpdateAccountByIdV2",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "create.Account",
                        "name": "AccountCreate",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/create.AccountCreate"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.Account"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "DeleteAccountById",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "DeleteAccountById",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "enum": [
                            "1",
                            "2",
                            "4",
                            "5",
                            "6",
                            "100"
                        ],
                        "type": "string",
                        "description": "对象主键 enums(1,2,4,5,6,100)",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account_robot_relation/add": {
            "post": {
                "security": [
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "AddAccountRobotRelation, Do not Sending CreateTime And UpdateTime !",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "AddAccountRobotRelation",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "create.AccountRobotRelation",
                        "name": "AccountRobotRelationCreate",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/create.AccountRobotRelationCreate"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.AccountRobotRelation"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account_robot_relation/create": {
            "post": {
                "security": [
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "CreateAccountRobotRelation, Do not Sending CreateTime And UpdateTime !",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "CreateAccountRobotRelation",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "model.AccountRobotRelation",
                        "name": "AccountRobotRelation",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.AccountRobotRelation"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.AccountRobotRelation"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account_robot_relation/get": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "GetAllAccountRobotRelationByConditionsAuth",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "GetAllAccountRobotRelationByConditionsAuth",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 1,
                        "description": "页码",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 3,
                        "description": "分页大小",
                        "name": "pagesize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "2018",
                        "description": "开始时间",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "",
                        "description": "结束时间",
                        "name": "end",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "1",
                        "description": "数据状态1或0",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "description": "对象",
                        "name": "AccountRobotRelationQuery",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/query.AccountRobotRelationQuery"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.AccountRobotRelation"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account_robot_relation/get/mu": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "GetAllAccountRobotRelationByConditionsAuth",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "GetAllAccountRobotRelationByConditionsAuth",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "false",
                        "description": "增加一个是否精确匹配",
                        "name": "auto_rank",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "default": "false",
                        "description": "增加一个是否精确匹配",
                        "name": "ar",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "default": "false",
                        "description": "是否所有的查询都是精确匹配",
                        "name": "specify",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "default": "false",
                        "description": "是否所有的查询都是精确匹配",
                        "name": "s",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "default": "nil",
                        "description": "查找被软删除的数据",
                        "name": "statusQuery",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 1,
                        "description": "页码",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 3,
                        "description": "分页大小",
                        "name": "pagesize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "2018",
                        "description": "开始时间",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "",
                        "description": "结束时间",
                        "name": "end",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "1",
                        "description": "数据状态1或0",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "description": "对象",
                        "name": "MultiplyAccountRobotRelation",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/query.MultiplyAccountRobotRelation"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.AccountRobotRelation"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account_robot_relation/get/or": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "GetAllAccountRobotRelationByConditionsAuthOr",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "GetAllAccountRobotRelationByConditionsAuthOr",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 1,
                        "description": "页码",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 3,
                        "description": "分页大小",
                        "name": "pagesize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "2018",
                        "description": "开始时间",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "",
                        "description": "结束时间",
                        "name": "end",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "1",
                        "description": "数据状态1或0",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "description": "对象",
                        "name": "AccountRobotRelationQuery",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/query.AccountRobotRelationQuery"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.AccountRobotRelation"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account_robot_relation/search": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "GetAllAccountRobotRelationNoConditions",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "GetAllAccountRobotRelationNoConditions",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 1,
                        "description": "页码",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 3,
                        "description": "分页大小",
                        "name": "pagesize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "2018",
                        "description": "开始时间",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "",
                        "description": "结束时间",
                        "name": "end",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.AccountRobotRelation"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "GetAllAccountRobotRelationByConditionsAuthDynamic",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "GetAllAccountRobotRelationByConditionsAuthDynamic",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 1,
                        "description": "页码",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 3,
                        "description": "分页大小",
                        "name": "pagesize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "2018",
                        "description": "开始时间",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "",
                        "description": "结束时间",
                        "name": "end",
                        "in": "query"
                    },
                    {
                        "description": "对象",
                        "name": "AccountRobotRelationQuery",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/query.AccountRobotRelationQuery"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.AccountRobotRelation"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account_robot_relation/search/{word}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "GetAllAccountRobotRelationByConditionsAuthDynamicOneWord",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "GetAllAccountRobotRelationByConditionsAuthDynamicOneWord",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 1,
                        "description": "页码",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 3,
                        "description": "分页大小",
                        "name": "pagesize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "2018",
                        "description": "开始时间",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "",
                        "description": "结束时间",
                        "name": "end",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.AccountRobotRelation"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account_robot_relation/update/{id}": {
            "post": {
                "security": [
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "UpdateAccountRobotRelationByIds",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "UpdateAccountRobotRelationByIds",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "model.AccountRobotRelation",
                        "name": "AccountRobotRelation",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.AccountRobotRelation"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.AccountRobotRelation"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account_robot_relation/{id}": {
            "put": {
                "security": [
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "UpdateAccountRobotRelationByIdV2",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "UpdateAccountRobotRelationByIdV2",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "create.AccountRobotRelation",
                        "name": "AccountRobotRelationCreate",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/create.AccountRobotRelationCreate"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.AccountRobotRelation"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "delete": {
                "security": [
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "DeleteAccountRobotRelationById",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "DeleteAccountRobotRelationById",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "enum": [
                            "1",
                            "2",
                            "4",
                            "5",
                            "6",
                            "100"
                        ],
                        "type": "string",
                        "description": "对象主键 enums(1,2,4,5,6,100)",
                        "name": "id",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account_session/add": {
            "post": {
                "security": [
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "AddAccountSession, Do not Sending CreateTime And UpdateTime !",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "AddAccountSession",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "create.AccountSession",
                        "name": "AccountSessionCreate",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/create.AccountSessionCreate"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.AccountSession"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account_session/create": {
            "post": {
                "security": [
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "CreateAccountSession, Do not Sending CreateTime And UpdateTime !",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "CreateAccountSession",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "model.AccountSession",
                        "name": "AccountSession",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.AccountSession"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.AccountSession"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account_session/get": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "GetAllAccountSessionByConditionsAuth",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "GetAllAccountSessionByConditionsAuth",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 1,
                        "description": "页码",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 3,
                        "description": "分页大小",
                        "name": "pagesize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "2018",
                        "description": "开始时间",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "",
                        "description": "结束时间",
                        "name": "end",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "1",
                        "description": "数据状态1或0",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "description": "对象",
                        "name": "AccountSessionQuery",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/query.AccountSessionQuery"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.AccountSession"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account_session/get/mu": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "GetAllAccountSessionByConditionsAuth",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "GetAllAccountSessionByConditionsAuth",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "type": "string",
                        "default": "false",
                        "description": "增加一个是否精确匹配",
                        "name": "auto_rank",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "default": "false",
                        "description": "增加一个是否精确匹配",
                        "name": "ar",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "default": "false",
                        "description": "是否所有的查询都是精确匹配",
                        "name": "specify",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "default": "false",
                        "description": "是否所有的查询都是精确匹配",
                        "name": "s",
                        "in": "header"
                    },
                    {
                        "type": "string",
                        "default": "nil",
                        "description": "查找被软删除的数据",
                        "name": "statusQuery",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 1,
                        "description": "页码",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 3,
                        "description": "分页大小",
                        "name": "pagesize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "2018",
                        "description": "开始时间",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "",
                        "description": "结束时间",
                        "name": "end",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "1",
                        "description": "数据状态1或0",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "description": "对象",
                        "name": "MultiplyAccountSession",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/query.MultiplyAccountSession"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.AccountSession"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account_session/get/or": {
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "GetAllAccountSessionByConditionsAuthOr",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "GetAllAccountSessionByConditionsAuthOr",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 1,
                        "description": "页码",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 3,
                        "description": "分页大小",
                        "name": "pagesize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "2018",
                        "description": "开始时间",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "",
                        "description": "结束时间",
                        "name": "end",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "1",
                        "description": "数据状态1或0",
                        "name": "status",
                        "in": "query"
                    },
                    {
                        "description": "对象",
                        "name": "AccountSessionQuery",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/query.AccountSessionQuery"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.AccountSession"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account_session/search": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "GetAllAccountSessionNoConditions",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "GetAllAccountSessionNoConditions",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 1,
                        "description": "页码",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 3,
                        "description": "分页大小",
                        "name": "pagesize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "2018",
                        "description": "开始时间",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "",
                        "description": "结束时间",
                        "name": "end",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.AccountSession"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "GetAllAccountSessionByConditionsAuthDynamic",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "GetAllAccountSessionByConditionsAuthDynamic",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 1,
                        "description": "页码",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 3,
                        "description": "分页大小",
                        "name": "pagesize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "2018",
                        "description": "开始时间",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "",
                        "description": "结束时间",
                        "name": "end",
                        "in": "query"
                    },
                    {
                        "description": "对象",
                        "name": "AccountSessionQuery",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/query.AccountSessionQuery"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.AccountSession"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account_session/search/{word}": {
            "get": {
                "security": [
                    {
                        "ApiKeyAuth": []
                    },
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "GetAllAccountSessionByConditionsAuthDynamicOneWord",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "GetAllAccountSessionByConditionsAuthDynamicOneWord",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 1,
                        "description": "页码",
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "minimum": 1,
                        "type": "integer",
                        "default": 3,
                        "description": "分页大小",
                        "name": "pagesize",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "2018",
                        "description": "开始时间",
                        "name": "start",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "default": "",
                        "description": "结束时间",
                        "name": "end",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.AccountSession"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
                }
            }
        },
        "/account_session/update/{id}": {
            "post": {
                "security": [
                    {
                        "security definitions.oauth2.accessCode": []
                    }
                ],
                "description": "UpdateAccountSessionByIds",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "summary": "UpdateAccountSessionByIds",
                "parameters": [
                    {
                        "type": "string",
                        "default": "5ecb7c89-a63d-4190-b4c7-4f4ea686",
                        "description": "认证session",
                        "name": "session",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "model.AccountSession",
                        "name": "AccountSession",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.AccountSession"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object",
                            "$ref": "#/definitions/model.AccountSession"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "type": "string"
                        }
                    }
[...]
